:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

p {
  line-height: 1.4;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(./images/bg-pattern-top-mobile.svg) no-repeat, url(./images/bg-pattern-bottom-mobile.svg) no-repeat;
  background-position: top left, bottom right;
  background-color: var(--White);
  font-size: 15px;
  color: var(--Very-Dark-Magenta);
  font-family: 'League Spartan', sans-serif;
}

.container {
  width: max(60%, 320px);
  text-align: center;
}

/* Header & TOP */
.container header {
  margin: 35px 0;
}

.container header h1 {
  margin: 15px 0;
}

.container header p {
  font-weight: 500;
  color: var(--Dark-Grayish-Magenta);
}

/* Rating */
.container .rating {
  margin: 35px 0;
}

.container .rating .rated {
  border-radius: 0.5em;
  background-color: var(--Light-Grayish-Magenta);
  font-weight: 700;
  padding: 0.8em;
  margin: 0.8em 0;
  line-height: 1.5;
}

/* Review & BOTTOM */
.container .reviews-container .review {
  background-color: var(--Very-Dark-Magenta);
  color: var(--White);
  font-weight: 500;
  padding: 2.5em 2.3em;
  text-align: initial;
  border-radius: 0.6em;
  margin: 1.1em 0;
}

.container .reviews-container .review .person img {
  width: 2.5em;
  border-radius: 50%;
  margin-right: 1.5em;
}

.container .reviews-container .review .person {
  display: flex;
  margin-bottom: 1.5em;
}

.container .reviews-container .review .person .name {
  align-self: flex-end;
}

.container .reviews-container .review .person .name p {
  color: var(--Soft-Pink);
}

/* Media Query(Desktop) */
@media (min-width: 1024px) {
  body {
    background: url(./images/bg-pattern-top-desktop.svg) no-repeat, url(./images/bg-pattern-bottom-desktop.svg) no-repeat;
    background-position: top left, bottom right;
  }

  h1 {
    font-size: 3em;
  }

  .container {
    width: max(60%, 1100px);
  }
  .container .top, .container .bottom .reviews-container {
    display: flex;
    text-align: initial;
  }

  .container .top header {
    width: calc(100% - 65%);
  }

  .container .top .rating {
    width: 65%;
  } 

  .container .rating .rated {
    display: flex;
    width: 400px;
  }

  .container .rating .rated .icon-container {
    padding: 0 1.3em;
  }

  .container .rating .rated img {
    vertical-align: middle;
  }

  .bottom .reviews-container .review:nth-of-type(2) {
    margin: 1.1em 1.5em;
  }

  .bottom .reviews-container .review:last-of-type {
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}