:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {box-sizing: border-box;}

body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: url();
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }